{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb",
  "rules": {
    "indent": [2],
    "new-cap": [0],
    "no-multiple-empty-lines": 0,
    "no-param-reassign": [1, { "props": false }],
    "react/jsx-closing-bracket-location": [1, 'after-props'],
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
  }
}
